*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f4f7fb;
}


/* navbar */

nav{
    background-color: #111827;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 18px 45px;
}

.logo{
    font-size: 24px;
    font-weight: bold;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
}

nav ul li a:hover{
    color: #38bdf8;
}


/* hero section */

.hero{
    height: 90vh;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    background: linear-gradient(to right, #001f4d, #0077cc);

    color: white;

    padding: 20px;
}

.hero-content{
    max-width: 650px;
}

.small-text{
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.hero-content h1{
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-para{
    line-height: 1.7;
    margin-bottom: 28px;
    font-size: 17px;
}

.hero-content a{
    display: inline-block;

    text-decoration: none;

    background-color: white;
    color: #001f4d;

    padding: 12px 24px;

    border-radius: 25px;

    font-weight: 500;
}

.hero-content a:hover{
    background-color: #001739;
    color: white;
}
